---
layout: site
---
        <div class="main-container postfont">
            <div class="main wrapper clearfix">  
            <div class="mobileheader">
                <div class="logo"><img style="width:30px" src="/img/logo.png" alt="avatar"></div>
                <h3>Jon Paul Davies</h3>
             <i class="italic">Liverpool UK based software professional and entrepreneur with 20+ years experience of making computers do the right thing.</i>
             <div style="clear:both;float:none"></div>
            <div class="profilelinks">            
                <a href="/index.html">Home</a>  |  <a href="/blog/">Blog</a>  |  <a href="/profile.html">My Profile</a>         
            </div>                       
             <br/><br/>
            </div>
                <div class="postsidebar">
                    <div class="logo"><img src="/img/logo.png" alt="avatar"></div>
                    <div class="profile">
                        <div class="avatar"><img src="/img/avatar.png" alt="avatar"></div>
                        <div class="author">Jon Paul Davies</div>   
                        <i>Liverpool UK based software professional and entrepreneur with 20+ years experience of making computers do the right thing.</i>
                    </div>
                    <div class="profilelinks">
                    Contact
                        <div class="profilelink">Twitter: <a href="http://twitter.com/jonpauldavies" target="_blank">@jonpauldavies</a></div>
                        <div class="profilelink">Linkedin: <a href="http://uk.linkedin.com/in/jonpauldavies/" target="_blank">@jonpauldavies</a></div>
                        <div class="profilelink">Github: <a href="http://www.github.com/jonpauldavies" target="_blank">@jonpauldavies</a></div>
                    </div>     
                    <div class="profilelinks">
                        Menu
                        <div class="profilelink"><a href="/index.html">Home</a></div>
                        <div class="profilelink"><a href="/blog/">Blog</a></div>
                        <div class="profilelink"><a href="/profile.html">My Profile</a></div>
                    </div>         
                </div>  
                {{ content }}
                <div style="clear:both;float:none"></div>
            </div> <!-- #main -->
        </div> <!-- #main-container -->
